<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 	xsi:schemaLocation="http://www.springframework.org/schema/beans
 	https://www.springframework.org/schema/beans/spring-beans.xsd">
 	
 	<!--Below bean for Constructor based DI -->
 	<bean class="com.springDI.Student" id="student"> 
 		<constructor-arg name="sid" value="123" type="int"/>
 		<constructor-arg name="sname" value="Jay"/>
 		<constructor-arg name="saddress" value="Akshardham"/>
 	</bean> 

	<!--Below bean for setter method -->
	<!-- <bean class="com.springDI.Student" id="student1"> 
 		<property name="sid" value="456"></property>
 		<property name="sname" value="Shiv"></property>
 		<property name="saddress" value="Gadhada"></property>
 	</bean> --> 
 	
 </beans>